.foreign_content {
	padding-bottom: 20px;
	margin-top: 10px;
}

.foreign_content_cell{
	float: left; 
	padding-right: 20px;
	padding-left: 20px;
}

.foreign_content_cell:after{
	clear:both;
}

.jumbotron h2{
	text-decoration: underline;
	clear:both;
}

.key 
{
	width: 150px;
	display:inline-block;
}

#map-canvas {
 margin: 0; 
 padding: 0;
}

.search-cell {
	
	margin-bottom: 30px;
}

.search-cell div{
	margin-left: 20px;
}

.search-empty {
	margin-bottom: 20px;
	
}

.search-empty div{
	margin-left: 20px;
}

.search-result h2{
	text-decoration: none;
	clear:both;
}

#and-search-content {
	margin-left: 10px;
}

#or-search-content {
	margin-left: 10px;
}

italic {
	font-style: italic;
	color: rgb(67, 129, 189);
}

.context {
	color: #545454;
}