#reviewdiv {
    min-width: 50px;
    overflow-x: auto;
}

#reviewdiv table {
    table-layout: fixed;
}

#reviewdiv thead, #reviewdiv tbody, #reviewdiv tr, #reviewdiv td, #reviewdiv th { display: block; }

#reviewdiv thead tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#reviewdiv thead th {
    height: 30px;

    /*text-align: left;*/
}

#reviewdiv tbody {
    max-height: 222px;
    overflow-y: auto;
}

#reviewdiv thead {
    /* fallback */
}


#reviewdiv tbody td, #reviewdiv thead th {
    width: 25%;
    float: left;
    overflow-y: visible;
}