<!-- Homepage - links to our various html pages for business, users and reviews.-->
<!DOCTYPE html>
<html>
<head> 
    <meta charset='utf-8'>
    <title> Operation Repo - Businesses Pages</title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
     
</head>

<body>
    <div class='container'>
        <h1>Operation Repo - Business 3</h1>
        <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="{% url 'index' %}">Splash Page</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Businesses <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'business1' %}"> Business 1 </a> <!-- need to add business id to make them unique --></li>
                            <li><a href="{% url 'business2' %}"> Business 2 </a></li>
                            <li><a href="{% url 'business3' %}"> Business 3 </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Reviews <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'review1' %}"> Reivew 1 </a> <!-- need to add business id to make them unique --></li>
                            <li><a href="{% url 'review2' %}"> Review 2 </a></li>
                            <li><a href="{% url 'review3' %}"> Review 3 </a></li>
                        </ul>
                    </li>   
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Users <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user1' %}"> User 1 </a> <!-- need to add business id to make them unique --></li>
                            <li><a href="{% url 'user2' %}"> User 2 </a></li>
                            <li><a href="{% url 'user3' %}"> User 3 </a></li>
                        </ul>
                    </li>          
                  </ul>
                </div>
              </div>
        </div>
    </div>
</html>