<!-- Homepage - links to our various html pages for business, users and reviews.-->
<!DOCTYPE html>
<html>
<head> 
    <meta charset='utf-8'>
    <title> Operation Repo - Businesses from Yelp Academic DataSet</title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{STATIC_URL}}css/ui.jqgrid.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{STATIC_URL}}css/jquery.ui.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{STATIC_URL}}/css/reviewtable.css" rel="stylesheet" media="screen" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/grid.locale-en.js"></script>
    <script src="{{STATIC_URL}}js/jquery.jqGrid.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

    <style type="text/css">
    .key {width: 150px;display:inline-block;}

    #map-canvas {
     margin: 0; 
     padding: 0;
    }
    </style>
    
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&sensor=false">
    </script>

    <script type="text/javascript">
        function genMap(){
            var myLatlng = new google.maps.LatLng({{Business.data.latitude}},{{Business.data.longitude}});
            var mapOptions = {
              zoom: 16,
              center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            // To add the marker to the map, use the 'map' property
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title:"{{business.name}}"
            });
        }
        google.maps.event.addDomListener(window, 'load', genMap);    
    </script>

</head>

<body>
    <div class='container'>
        <h1>Operation Repo - Businesses</h1>
        <!-- Responsive Nav Bar -->
<div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.cs.utexas.edu/users/downing/cs373/drupal/idb2">CS 373 IDB2</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home Page</a></li>
              <li class="active dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Businesses<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'business' 'WIcDFpHEnC3ihNmS7-6-ZA' %}">Thai Pan Fresh Exotic Cuisine</a></li>
                  <li><a href="{% url 'business' '70p94Ejeu1v5XlIkbKORYQ' %}">Salon Lola</a></li>
                  <li><a href="{% url 'business' 'WcGTSRku3mrVK7V9GKq4UQ' %}">Chipotle Mexican Grill</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reviews<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'review' '0ESSqLfOae77muWTv_zUqA' %}">Review for Thai Pan Fresh Exotic Cuisine</a></li>
                  <li><a href="{% url 'review' 'VyAKIaj_Rmsf_ZCHcGJyUw' %}">Review for Salon Lola</a></li>
                  <li><a href="{% url 'review' 'DusrkpkTGPGkqK13xO1TZg' %}">Review for Chipotle Mexican Grill</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'user' 'JgDkCER12uiv4lbpmkZ9VA' %}">User 1</a></li>
                  <li><a href="{% url 'user' 'SS85hfTApRnbTPcJadra8A' %}">User 2</a></li>
                  <li><a href="{% url 'user' 'fR6Vch-D0L6OBnLMl8f9Sg' %}">User 3</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
        <div class="jumbotron">
            <h1><a href="{{yelpurl}}">{{Business.data.name}}</a></h1>
            <div><span class="key">ID: </span><span class="value">{{Business.data.business_id }} </span></div>
            <div><span class="key">Still Running:</span><span class="value">{% ifequal Business.data.open True %}Yes{%else%}{% ifequal Business.data.open False %}No{%else%}Information not available.{%endifequal%}{%endifequal%}</span></div>
            <div>  
                <h2>Location:</h2>
                <div><span class="key">Address:</span><span class="value">{{ Business.data.full_address}}</span></div>
                <div><span class="key">Longitude:</span><span class="value">{{ Business.data.longitude}}</span></div>
                <div><span class="key">Latitude:</span><span class="value">{{ Business.data.latitude}}</span></div>
                <div id="map-canvas" style="height:500px"></div>
            </div>
            <div>  
                <h2>Hours:</h2>
                {% if Business.data.hours|length > 0 %}
                    {% for day,hours in Business.data.hours.items %}
                        <div><span class="key">{{day}}:</span><span class="value">{{hours.open}} - {{hours.close}}</span></div>
                    {%endfor %}
                {% else %}
                    <div>Hours not available. </div>
                {% endif %}
            </div>
            <div>  
                <h2>Reviews:</h2>
                <span class="key"># Reviews:</span><span class="value">{{ Business.data.review_count }}</span>
                <div><span class="key">Average Stars:</span><span class="value">{{ Business.data.stars}}</span></div>
               
                <div id="reviewdiv" style="height:300px; overflow:auto;">
                    <table class="table table-striped">
                        <thead>
                        <tr><th>Date Written:</th><th>Rating:</th><th>Review Link:</th></tr>
                        </thead>
                        <tbody>
                            {% for dict in Reviews %}
                                <tr>
                                    
                                    <td>{{ dict.data.date }}</td>
                                    <td> {{ dict.data.stars }} </td>
                                    <td><a href="{% url 'review' dict.data.review_id %}"> view </a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <h2>Good For:</h2>
                <table>
                    {% for key,value in GoodFor.items %}
                        {% ifequal value True %}
                            <tr class="btn-success"><td><span class="key">{{ key }}:</span><span class="value">Yes</span></td></tr>
                        {% else %}
                            <tr class="btn-danger"><td><span class="key">{{ key }}:</span><span class="value">No</span></td></tr>
                        {%endifequal%}
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
            <div>
                <h2>Parking:</h2>
                <table>
                    {% for key,value in Parking.items %}
                        {% ifequal value True %}
                            <tr class="btn-success"><td><span class="key">{{ key }}:</span><span class="value">Yes</span></td></tr>
                        {% else %}
                            <tr class="btn-danger"><td><span class="key">{{ key }}:</span><span class="value">No</span></td></tr>
                        {%endifequal%}
                        </td>
                    </tr>
                    {%endfor%}
                </table>

            </div>
            <div>  
                <h2>Categories:</h2>
                {% if Business.data.categories|length > 0 %}
                    {% for category in Business.data.categories %}{{category}},{%endfor%}
                {% else %}
                    Categories not available.
                {% endif %}
            </div>
            <div>
                <h2>Neighborhoods:</h2>
                {% if Business.data.neighborhoods|length > 0 %}
                    {% for neighborhood in Business.data.neighborhoods %}{{neighborhood}},{%endfor%}
                {% else %}
                    Neighborhoods not available.
                {% endif %}
            </div>
            <div>  
                <h2>Attributes:</h2>
                {% for key,value in AttributesList %}
                    {% ifequal value True %}
                        <div ><span class="key">{{ key }}:</span><span class="value">Yes</span></div>
                    {%else%}
                        {% ifequal value False %}
                            <div><span class="key">{{ key }}:</span><span class="value">No</span></div>
                        {%else%}
                            <div><span class="key">{{ key }}:</span><span class="value">{{value}}</span></div>
                        {%endifequal%}
                    {%endifequal%}
                {%endfor%}
            </div>
            <div>
                <h2><a data-toggle="collapse" href="#collapseJSON">Raw JSON:</a></h2>
                <pre class="prettyprint collapse" id="collapseJSON">{{json}}</pre>
            </div>            
        </div>
    </div>
     
    <!-- Bootstrap -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
   
</body>
</html>
