<!-- Homepage - links to our various html pages for business, users and reviews.-->
<!DOCTYPE html>
<html>
<head> 
    <meta charset='utf-8'>
    <title> Operation Repo - Businesses from Yelp Academic DataSet</title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
     
</head>

<body>
    <div class='container'>
        <h1>Operation Repo - Business {{ a }} </h1>
        <!-- Responsive Nav Bar -->
        <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.cs.utexas.edu/users/downing/cs373/drupal/idb1">CS 373 IDB1</a>
                  </div>
                  <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li><a href="{% url 'index' %}">Home Page</a></li>
                      <li class="dropdown">
                        <a href="#" class="active dropdown-toggle" data-toggle="dropdown">Businesses<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'business' 1 %}">Thai Pan Fresh Exotic Cuisine</a></li>
                          <li><a href="{% url 'business' 2 %}">Salon Lola</a></li>
                          <li><a href="{% url 'business' 3 %}">Chipotle Mexican Grill</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reviews<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'review' 1 %}">Review for Thai Pan Fresh Exotic Cuisine</a></li>
                          <li><a href="{% url 'review' 2 %}">Review for Salon Lola</a></li>
                          <li><a href="{% url 'review' 3 %}">Review for Chipotle Mexican Grill</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'user' 1 %}">User 1</a></li>
                          <li><a href="{% url 'user' 2 %}">User 2</a></li>
                          <li><a href="{% url 'user' 3 %}">User 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
              </div>

        <div class="hero-unit">
            <table class="objecttable" style="">
                <tbody>
                    <tr><th>Name</th><th>Value</th></tr>
                    <tr><td>business_id</td><td><span class="string">{{ business_id }}</span></td></tr>
                    <tr><td>full_address</td><td><span class="string">{{ full_address }}</span></td></tr>
                    <tr><td>hours</td>
                        <td>{{ hours|linebreaks }}</td>
                    <tr>
<tr><td>open</td><td><span class="boolean">{{ open}}</span></td></tr>
<tr><td>categories</td><td>{{categories}}</td></tr>
<tr><td>city</td><td><span class="string">{{city}}</span></td></tr>
<tr><td>review_count</td><td><span class="number">{{review_count}}</span></td></tr>
<tr><td>name</td><td><span class="string">{{name}}</span></td></tr>
<tr><td>longitude</td><td><span class="number">{{longitude}}</span></td></tr>
<tr><td>state</td><td><span class="string">{{state}}</span></td></tr>
<tr><td>stars</td><td><span class="number">{{stars}}</span></td></tr>
<tr><td>latitude</td><td><span class="number">{{latitude}}</span></td></tr>
<tr>
    <td>attributes</td>
    <td>
        <table>
            {% for key,value in attributes.items %}
            <tr><td>{{ key }} : </td><td> {{ value }}</td></tr>
            {%endfor%}
        </table>
    </td>
</tr>
<tr><td>type</td><td><span class="string">{{type}}</span></td></tr>
<tr>
    <td>review</td>
    <td>
        <a href="{% url 'review' a %}"><span class="string">Review</span></a>
    </td>
</tr>
<tr>
    <td>Users who have reviewed</td>
    <td>
        <a href="{% url 'user' a %}">
            <span class="string">User</span>
        </a>
    </td>
</tr>
</tbody></table><div class="clear"></div>
</div>
</div>

     <!-- Bootstrap -->
     <script src="http://code.jquery.com/jquery.js"></script>
     <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>
