<!-- Homepage - links to our various html pages for business, users and reviews.-->
<!DOCTYPE html>
<html>
<head> 
    <meta charset='utf-8'>
    <title> Operation Repo - Businesses from Yelp Academic DataSet</title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
     
</head>

<body>
    <div class='container'>
        <h1>Operation Repo - Business 1</h1>
        <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="{% url 'index' %}">Home Page</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Businesses <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'business1' %}"> Business 1 </a> <!-- need to add business id to make them unique --></li>
                            <li><a href="{% url 'business2' %}"> Business 2 </a></li>
                            <li><a href="{% url 'business3' %}"> Business 3 </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Reviews <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'review1' %}"> Reivew 1 </a> <!-- need to add business id to make them unique --></li>
                            <li><a href="{% url 'review2' %}"> Review 2 </a></li>
                            <li><a href="{% url 'review3' %}"> Review 3 </a></li>
                        </ul>
                    </li>   
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Users <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user1' %}"> User 1 </a> <!-- need to add business id to make them unique --></li>
                            <li><a href="{% url 'user2' %}"> User 2 </a></li>
                            <li><a href="{% url 'user3' %}"> User 3 </a></li>
                        </ul>
                    </li>          
                  </ul>
                </div>
              </div>
        </div>

        <div class="hero-unit">
            <table class="objecttable" style="">
                <tbody>
                    <tr><th>Name</th><th>Value</th></tr>
                    <tr><td>business_id</td><td><span class="string">WIcDFpHEnC3ihNmS7-6-ZA</span></td></tr>
                    <tr><td>full_address</td><td><span class="string">7605 E Pinnacle Peak Rd<br>Scottsdale, AZ 85255</span></td></tr>
                    <tr><td>hours</td><td>
                <div class="wrap">
                <div class="object" onmouseover="doFocus(event, this);" style="border: 1px solid rgb(0, 0, 0);">
            <table class="objecttable">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>Monday</td><td><div class="wrap">
<div class="object" onmouseover="doFocus(event, this);" style="border: 1px solid rgb(0, 0, 0);">
<table class="objecttable">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>close</td><td><span class="string">20:30</span></td></tr>
<tr><td>open</td><td><span class="string">11:00</span></td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
<tr><td>Tuesday</td><td><div class="wrap">
<div class="object" onmouseover="doFocus(event, this);">
<table class="objecttable">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>close</td><td><span class="string">20:30</span></td></tr>
<tr><td>open</td><td><span class="string">11:00</span></td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
<tr><td>Friday</td><td><div class="wrap">
<div class="object" onmouseover="doFocus(event, this);" style="border: 1px solid rgb(0, 0, 0);">
<table class="objecttable">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>close</td><td><span class="string">21:00</span></td></tr>
<tr><td>open</td><td><span class="string">11:00</span></td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
<tr><td>Wednesday</td><td><div class="wrap">
<div class="object" onmouseover="doFocus(event, this);" style="border: 1px solid rgb(0, 0, 0);">
<table class="objecttable">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>close</td><td><span class="string">20:30</span></td></tr>
<tr><td>open</td><td><span class="string">11:00</span></td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
<tr><td>Thursday</td><td><div class="wrap">
<div class="object" onmouseover="doFocus(event, this);" style="border: 1px solid rgb(0, 0, 0);">
<table class="objecttable">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>close</td><td><span class="string">20:30</span></td></tr>
<tr><td>open</td><td><span class="string">11:00</span></td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
<tr><td>Saturday</td><td><div class="wrap">
<div class="object" onmouseover="doFocus(event, this);" style="border: 1px solid rgb(0, 0, 0);">
<table class="objecttable">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>close</td><td><span class="string">21:00</span></td></tr>
<tr><td>open</td><td><span class="string">17:00</span></td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
<tr><td>open</td><td><span class="boolean">false</span></td></tr>
<tr><td>categories</td><td><div class="wrap">
<div class="array" onmouseover="doFocus(event, this);">
<table class="arraytable">
<tbody><tr><th>Index</th><th>Value</th></tr>
<tr><td>0</td><td><span class="string">Thai</span></td></tr>
<tr><td>1</td><td><span class="string">Restaurants</span></td></tr>
</tbody></table>
</div>
</div>
</td></tr>
<tr><td>city</td><td><span class="string">Scottsdale</span></td></tr>
<tr><td>review_count</td><td><span class="number">21</span></td></tr>
<tr><td>name</td><td><span class="string">Thai Pan Fresh Exotic Cuisine</span></td></tr>
<tr><td>neighborhoods</td><td>(empty <span class="titled">Array</span>)
</td></tr>
<tr><td>longitude</td><td><span class="number">-111.9174872</span></td></tr>
<tr><td>state</td><td><span class="string">AZ</span></td></tr>
<tr><td>stars</td><td><span class="number">3.5</span></td></tr>
<tr><td>latitude</td><td><span class="number">33.6986497</span></td></tr>
<tr><td>attributes</td><td><div class="wrap">
<div class="object" onmouseover="doFocus(event, this);" style="border: 1px solid rgb(0, 0, 0); padding-right: 2em;">
<table class="objecttable" style="display: none;">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>Take-out</td><td><span class="boolean">true</span></td></tr>
<tr><td>Good For</td><td><div class="wrap">
<div class="object" onmouseover="doFocus(event, this);" style="border: 1px solid rgb(0, 0, 0);">
<table class="objecttable">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>dessert</td><td><span class="boolean">false</span></td></tr>
<tr><td>latenight</td><td><span class="boolean">false</span></td></tr>
<tr><td>lunch</td><td><span class="boolean">true</span></td></tr>
<tr><td>dinner</td><td><span class="boolean">true</span></td></tr>
<tr><td>brunch</td><td><span class="boolean">false</span></td></tr>
<tr><td>breakfast</td><td><span class="boolean">false</span></td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
<tr><td>Takes Reservations</td><td><span class="boolean">false</span></td></tr>
<tr><td>Delivery</td><td><span class="boolean">false</span></td></tr>
<tr><td>Parking</td><td><div class="wrap">
<div class="object" onmouseover="doFocus(event, this);" style="border: 1px solid rgb(0, 0, 0); padding-right: 2em;">
<table class="objecttable" style="display: none;">
<tbody><tr><th>Name</th><th>Value</th></tr>
<tr><td>garage</td><td><span class="boolean">false</span></td></tr>
<tr><td>street</td><td><span class="boolean">false</span></td></tr>
<tr><td>validated</td><td><span class="boolean">false</span></td></tr>
<tr><td>lot</td><td><span class="boolean">true</span></td></tr>
<tr><td>valet</td><td><span class="boolean">false</span></td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
<tr><td>Wheelchair Accessible</td><td><span class="boolean">true</span></td></tr>
<tr><td>Outdoor Seating</td><td><span class="boolean">false</span></td></tr>
<tr><td>Attire</td><td><span class="string">casual</span></td></tr>
<tr><td>Alcohol</td><td><span class="string">beer_and_wine</span></td></tr>
<tr><td>Waiter Service</td><td><span class="boolean">false</span></td></tr>
<tr><td>Accepts Credit Cards</td><td><span class="boolean">true</span></td></tr>
<tr><td>Good for Kids</td><td><span class="boolean">true</span></td></tr>
<tr><td>Good For Groups</td><td><span class="boolean">true</span></td></tr>
<tr><td>Price Range</td><td><span class="number">2</span></td></tr>
</tbody></table><div class="clear"></div>
</div>
</div>
</td></tr>
<tr><td>type</td><td><span class="string">business</span></td></tr>
<tr>
    <td>review</td>
    <td>
        <a href="{% url 'review1' %}"><span class="string">Review 1</span></a>
    </td>
</tr>
<tr>
    <td>user making review</td>
    <td>
        <a href="{% url 'user1' %}">
            <span class="string">User 1</span>
        </a>
    </td>
</tr>
</tbody></table><div class="clear"></div>
</div>
</div>

     <!-- Bootstrap -->
     <script src="http://code.jquery.com/jquery.js"></script>
     <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>
