<!-- Homepage - links to our various html pages for business, users and reviews.-->
<!DOCTYPE html>
<html>
<head> 
  <meta charset='utf-8'>
  <title> Operation Repo - Businesses from Yelp Academic DataSet</title>
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
  <style type="text/css">
    .key {width: 150px;display:inline-block;}
  </style>
</head>

<body>
<div class="container">
<!-- Responsive Nav Bar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.cs.utexas.edu/users/downing/cs373/drupal/idb2">CS 373 IDB2</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">Home Page</a></li>
          <li class="active"><a href="{% url 'business_splash' %}">Businesses</a></li>
          <li><a href="{% url 'review' 'all'%}">Reviews</a></li>
          <li><a href="{% url 'user' 'all'%}">Users</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
<!-- END Responsive Nav Bar --> 

<!--- display first 50 businesses from the database -->

<ul>
{% for business_name,business_ID in bdict.items %}
<li><a href ="{% url 'business' business_ID%}">{{business_name}}</a></li>  
{%endfor%}
</ul>
</div>


     <!-- Bootstrap -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>
