<!-- Reviews Page - layout for displaying the information on each review - 
should link back to user reviewing and business reviewed-->
<!DOCTYPE html>
<html>
<head> 
<!-- Change title to display the following as well the id of review. (Optional?) -->
<title> Operation Repo - Review </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" >
    <style type="text/css">
    .key {width: 150px;display:inline-block;}
    </style>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>

<body>
    <div class="container">
        <h1>Operation Repo - Review {{ a }} </h1>
        <!-- Responsive Nav Bar -->
<div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.cs.utexas.edu/users/downing/cs373/drupal/idb2">CS 373 IDB2</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Home Page</a></li>
            <li><a href="{% url 'business_splash' %}">Businesses</a></li>
            <li class="active"><a href="{% url 'review_splash' %}">Reviews</a></li>
            <li><a href="{% url 'user_splash' %}">Users</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>

        <div class="jumbotron">
            <h1>Review for <a href="{% url 'business' Review.business.business_id %}">{{ Review.business.name }}</a> by <a href="{% url 'user' Review.user.user_id %}"> {{ Review.user.name }} </a> </h1>
            <div><span class="key">Review ID: </span><span class="value">{{Review.review_id}} </span></div>
            <div><span class="key">User name: </span><span class="value">{{Review.user.name}} </span></div>
            <div><span class="key">Business name: </span><span class="value">{{Review.business.name}} </span></div>
            <div><span class="key">Date: </span><span class="value">{{Review.date}} </span></div>
            <div><span class="key">Stars: </span><span class="value">{{Review.stars}} </span></div>

            <div>
              <h2>Votes</h2>
              {%for stuff in Review_Votes_List%}
              <div><span class="key">{{stuff.vote_type}}: </span><span class="value">{{stuff.count}} </span></div>
              {%endfor%}
            </div>

            <h2> Comments </h2>
             {{ Review.text }}
        </div>

    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>
