<!-- Reviews Page - layout for displaying the information on each review - 
should link back to user reviewing and business reviewed-->
<!DOCTYPE html>
<html>
<head> 
<!-- Change title to display the following as well the id of review. (Optional?) -->
<title> Operation Repo - Review </title>
     <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" >
</head>

<body>
    <div class="container">
        <h1>Operation Repo - Review {{ a }} </h1>
        <!-- Responsive Nav Bar -->
        <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.cs.utexas.edu/users/downing/cs373/drupal/idb1">CS 373 IDB1</a>
                  </div>
                  <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li><a href="{% url 'index' %}">Home Page</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Businesses<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'business' 1 %}">Thai Pan Fresh Exotic Cuisine</a></li>
                          <li><a href="{% url 'business' 2 %}">Salon Lola</a></li>
                          <li><a href="{% url 'business' 3 %}">Chipotle Mexican Grill</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="active dropdown-toggle" data-toggle="dropdown">Reviews<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'review' 1 %}">Review for Thai Pan Fresh Exotic Cuisine</a></li>
                          <li><a href="{% url 'review' 2 %}">Review for Salon Lola</a></li>
                          <li><a href="{% url 'review' 3 %}">Review for Chipotle Mexican Grill</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'user' 1 %}">User 1</a></li>
                          <li><a href="{% url 'user' 2 %}">User 2</a></li>
                          <li><a href="{% url 'user' 3 %}">User 3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
              </div>

        <div class="jumbotron">
            <a href="{% url 'business' a %}"><h3> Review for {{ name }} </h3></a>
            <table>
                <tbody>
                <tr><td>votes</td><td>
                <div>
                    <table>
                        <tbody>
                        <tr><td>funny</td><td> {{ votes.funny }} </td></tr>
                        <tr><td>useful</td><td> {{ votes.useful }} </td></tr>
                        <tr><td>cool</td><td> {{ votes.cool }} </td></tr>
                        </tbody>
                    </table>
                </div>
                </td></tr>
                <tr><td>user </td><td> <a href="{% url 'user' a %}"> link </a> </td></tr>
                <tr><td>review_id </td><td> {{ review_id }} </td></tr>
                <tr><td>stars</td><td>{{ stars }}</td></tr>
                <tr><td>date</td><td>{{ date }}</td></tr>
                
                <tr><td>comments</td><td> {{ text }} </td></tr>
                </tbody>
            </table>
        </div>

    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>
