<!-- Reviews Page - layout for displaying the information on each review - 
should link back to user reviewing and business reviewed-->
<!DOCTYPE html>
<html>
<head> 
<!-- Change title to display the following as well the id of review. (Optional?) -->
<title> Operation Repo - Review </title>
     <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" >
</head>

<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    {{message}}
    {"votes": {"funny": 0, "useful": 0, "cool": 0}, "user_id": "xAVu2pZ6nIvkdHh8vGs84Q", "review_id": "DusrkpkTGPGkqK13xO1TZg", "stars": 3, "date": "2011-11-26", "text": "Standard Chipotle fare - consistently good; not bad for corporate food - if you have a few minutes, there are a number of good local offerings within walking distance.", "type": "review", "business_id": "WcGTSRku3mrVK7V9GKq4UQ"}

</body>
</html>
