<!-- Homepage - links to our various html pages for business, users and reviews.-->
<!DOCTYPE html>
<html>
<head> 
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Operation Repo - Businesses from Yelp Academic DataSet</title>
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
  <link href="{{STATIC_URL}}css/custom.css" rel="stylesheet" media="screen" type="text/css" />
</head>

<body>
<div class="container">
  <h1>Operation Repo - Search </h1>
    {% include "navbar.html" %}
    <div class="jumbotron">
        <div class="search-result">
        {% if not search_terms %}
        <h2> No search results...</h2>
        {% elif andresults.businesses|length <= 0 and andresults.reviews|length <= 0 and andresults.users|length <= 0 and orresults.businesses|length <= 0 and orresults.reviews|length <= 0 and orresults.users|length <= 0 %}
        <h2> No search results...</h2>
        {% else %}
        <!-- AND  search results -->
        {% if andresults.businesses|length > 0 or andresults.reviews|length > 0 or andresults.users|length > 0  %}
        <h2>Search Results for 
                {% for s in search_list %} 
                    {% if forloop.last %}
                        &quot;<italic>{{s}}</italic>&quot;
                    {% else %}
                        &quot;<italic>{{s}}</italic>&quot; and 
                    {% endif %}
                {% endfor %} 
        :</h2>
        <div id="and-search-content">
            {% if andresults.businesses|length > 0 %}
            <h3>Businesses</h3>
            {% for b in andresults.businesses %}
            <div class="search-cell">
                <div>
                    <h4><a href="{% url 'business' b.business_id %}">{{b.name}}</a></h4>
                    <div class="context">
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="search-empty">
                <div>
                    No search results...
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if andresults.users|length > 0 %}
            <h3>Users</h3>
            {% for u in andresults.users %}
            <div class="search-cell">
                <div>
                    <h4><a href="{% url 'user' u.user_id %}">{{u.name}}</a> </h4>
                    <div class="context">
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="search-empty">
                <div>
                    No search results...
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if andresults.reviews|length > 0 %}
            <h3>Reviews</h3>
            {% for r in andresults.reviews %}
            <div class="search-cell">
                <div>
                    <a href="{% url 'review' r.review_id %}"><h4>Review for {{r.business.name}} by {{r.user.name}}</h4></a>
                    <p>
                        <h6>Date Written: {{r.date}}</h6>
                        <div class="context">
                                {{ r.text }}
                        </div>
                    </p>
                </div>
            </div>
            {% empty %}
            <div class="search-empty">
                <div>
                    No search results...
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        <!-- OR search results -->
        {% if orresults.businesses|length > 0 or orresults.reviews|length > 0 or orresults.users|length > 0  %}
        <h2>Search Results for 
                {% for s in search_list %} 
                    {% if forloop.last %}
                        &quot;<italic>{{s}}</italic>&quot;
                    {% else %}
                        &quot;<italic>{{s}}</italic>&quot; or 
                    {% endif %}
                {% endfor %} 
        :</h2>
        <div id="or-search-content">
            {% if orresults.businesses|length > 0 %}
            <h3>Businesses</h3>
            {% for b in orresults.businesses %}
                <div class="search-cell">
                    <div>
                        <h4><a href="{% url 'business' b.business_id %}">{{b.name}}</a></h4>
                        <div class="context">
                        </div>
                    </div>
                </div>
            {% empty %}
            <div class="search-empty">
                <div>
                    No search results...
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if orresults.users|length > 0 %}
            <h3>Users</h3>
            {% for u in orresults.users %}
                <div class="search-cell">
                    <div>
                        <h4><a href="{% url 'user' u.user_id %}">{{u.name}}</a> </h4>
                        <div class="context">

                        </div>
                    </div>
                </div>
            {% empty %}
            <div class="search-empty">
                <div>
                    No search results...
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if orresults.reviews|length > 0 %}
            <h3>Reviews</h3>
            {% for r in orresults.reviews %}
                <div class="search-cell">
                    <div>
                        <a href="{% url 'review' r.review_id %}"><h4>Review for {{r.business.name}} by {{r.user.name}}</h4></a>
                        <p>
                            <h6>Date Written: {{r.date}}</h6>
                            <div class="context">
                                {{ r.text }}
                            </div>
                        </p>
                    </div>
                </div>
            {% empty %}
            <div class="search-empty">
                <div>
                    No search results...
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
        </div>
    </div>
</div>
    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script type="text/javascript">
     $(document).ready(function(){
        $('.context').each(function(){
            var searcht = [{% for s in search_list%}{% if forloop.last %} "{{s}}" {% else %} "{{s}}", {% endif %}{% endfor %}];
            
            var searchtext = $(this).text();
            var newinner = "";
            for (var i = searcht.length - 1; i >= 0; i--) {
                var lookfor = new RegExp('('+searcht[i]+')', 'gi');
                var index = searchtext.search(lookfor);
                if(index > -1){
                    var w = searchtext.substring(Math.max(index-20, 0), index+20);
                    w = w.replace(lookfor, "<b>$1</b>");
                    newinner = newinner.concat(" ...",w,"... ");
                }

                searchtext = searchtext.substring(index+1);
                index = searchtext.search(lookfor);
                if(index > -1){
                    var w = searchtext.substring(Math.max(index-20, 0), index+20);
                    w = w.replace(lookfor, "<b>$1</b>");
                    newinner = newinner.concat(" ...",w, "... ");
                }
                searchtext = $(this).text();
            };
            $(this).html(newinner);
        });
     });
    </script>
</body>
</html>