<!-- Homepage - links to our various html pages for business, users and reviews.-->
<!DOCTYPE html>
<html>
<head> 
  <meta charset='utf-8'>
  <title> Operation Repo - Businesses from Yelp Academic DataSet</title>
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
  <style type="text/css">
    .key {width: 150px;display:inline-block;}
  </style>
</head>

<body>
<div class="container">
  <h1>Operation Repo - All Users </h1>
  {% include "navbar.html" %}
  <div class="jumbotron">
            <table class="table table-striped">   
                <thead>
                    <tr><th>Users</th></tr>
                </thead>
                <tbody>
                    {% for u in userList %}
                        <tr><td><a href ="{% url 'user'  u.user_id %}">{{ u.name }}</a></td></tr>
                    {%endfor%}
                </tbody>
            </table>
    </div>
</div>


     <!-- Bootstrap -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>