<!-- Homepage - links to our various html pages for business, users and reviews.-->
<!DOCTYPE html>
<html>
<head> 
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Operation Repo - Businesses, Users and Reviews from Yelp Academic DataSet </title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{STATIC_URL}}css/ui.jqgrid.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{STATIC_URL}}css/jquery.ui.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{STATIC_URL}}css/reviewtable.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{STATIC_URL}}css/custom.css" rel="stylesheet" media="screen" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/grid.locale-en.js"></script>
    <script src="{{STATIC_URL}}js/jquery.jqGrid.min.js"></script>
    
</head>

<body>
  <div class='container'>
    <h1>Operation Repo - Users </h1>
    <!-- Responsive Nav Bar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.cs.utexas.edu/users/downing/cs373/drupal/idb2">CS 373 IDB2</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">Home Page</a></li>
          <li><a href="{% url 'business_splash' %}">Businesses</a></li>
          <li><a href="{% url 'review_splash' %}">Reviews</a></li>
          <li class ="active"><a href="{% url 'user_splash' %}">Users</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
    <div class="jumbotron">
      <h1>{{User.name}}</h1>
      <div>
        <h2>About</h2>
        <div><span class="key">Yelping Since: </span><span class="value">{{User.yelping_since }} </span></div>
        <div><span class="key">Year Elite: </span>

                <span class="value">
                    {% if Elite_List|length > 0 %}
                        {% for e in Elite_List %}
                        <div>{{ e.years_elite }}</div>
                        {% endfor %}
                    {% else %}
                        N/A
                    {% endif %}
                </span>
        </div>

      </div>
      <div>
        <h2>Reviews</h2>
        <div><span class="key">Reviews: </span><span class="value">{{ reviews|length }} </span></div>
        <div><span class="key">Average Stars: </span><span class="value">{{User.average_stars}} </span></div>
        {% if User.review_count > 0 %}
        <h3>Reviews written by {{User.name}}:</h3>
        <div id="reviewdiv" >
                <table class="table table-striped">
                    <thead>
                    <tr><th>Business:</th><th>Date Written:</th><th>Rating:</th><th>Review Link:</th></tr>
                    </thead>
                    <tbody>
                        {% load app_filters %}
                        {% for r in reviews %}
                            <tr>
                                <td><a href="{% url 'business' r.business_id %}">{{ r.business.name }}</a></td>
                                <td>{{ r.date }}</td>
                                <td> {{ r.stars }} {% for i in r.stars|get_range %} <span class="glyphicon glyphicon-star" style="color: rgb(67, 129, 189);"></span> {% endfor %}</td>
                                <td><a href="{% url 'review' r.review_id %}"> view </a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        {% endif %}
      </div>
      <div>
        <h2>Votes</h2>

        <div><span class="key">Fans: </span><span class="value">{{User.fans }} </span></div>
        {% if User_Votes_List|length <= 0 %}
            <div>N/A</div>
        {% endif %}
        {% for user_votes in User_Votes_List %}
        <div><span class="key">Voted {{user_votes.vote_type}}: </span><span class="value">{{user_votes.count }} </span></div>
        {% endfor %}
      </div>
      <div>
        <h2>Compliments</h2>
        <div>
            {% if Compliments_List|length > 0 %}
            {% for compliment in Compliments_List %}
              <div><span class="key">{{ compliment.complement_type }}:</span><span class="value">{{compliment.num_compliments_of_this_type}}</span></div>
            {% endfor %}
            {% else %}
              <div>No compliments to display. </div>
            {% endif %}
        </div>
      </div>       
    </div>
  </div>

  <!-- Bootstrap -->
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>
