<!-- Homepage - links to our various html pages for business, users and reviews.-->
<!DOCTYPE html>
<html>
<head> 
    <meta charset='utf-8'>
    <title> Operation Repo - Businesses, Users and Reviews from Yelp Academic DataSet </title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
     
</head>

<body>
    <div class='container'>
        <h1>Operation Repo - User {{ name }} </h1>
        <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav nav-tabs">
                    <li><a href="{% url 'index' %}">Home Page</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Businesses <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'business' 1 %}"> Business 1 </a> <!-- need to add business id to make them unique --></li>
                            <li><a href="{% url 'business' 2 %}"> Business 2 </a></li>
                            <li><a href="{% url 'business' 3 %}"> Business 3 </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Reviews <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'review' 1 %}"> Reivew 1 </a> <!-- need to add business id to make them unique --></li>
                            <li><a href="{% url 'review' 2 %}"> Review 2 </a></li>
                            <li><a href="{% url 'review' 3 %}"> Review 3 </a></li>
                        </ul>
                    </li>   
                    <li class="active dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Users <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user' 1 %}"> User 1 </a> <!-- need to add business id to make them unique --></li>
                            <li><a href="{% url 'user' 2 %}"> User 2 </a></li>
                            <li><a href="{% url 'user' 3 %}"> User 3 </a></li>
                        </ul>
                    </li>          
                  </ul>
                </div>
              </div>
        </div>
        <div class="hero-unit">
	        <table>
	        	<tr>
	        		<td>Field</td>
	        		<td>Value</td>
	        	</tr>

			    User ID: {{user_id}}
			    <br>
			    Name: {{name}}
			    <br>
				Joined: {{yelping_since}}
				<br>
				Reviews: {{review_count}}
				<br>
				Average Stars: {{average_stars}}
				<br>
				Fans: {{fans}}
				<br>
				Voted funny : {{votes.funny}}
				<br>
				Voted useful : {{votes.useful}}
				<br>
				Voted cool : {{votes.cool}}
				<br>
				Friends: 89 <!-- where'd this come from? --> 
				<br>
				Compliments:
					<table>
					<tr>
						<td>Compliment</td>
						<td>Number</td>
					</tr>
					{% for k,v in compliments %}
						<tr>
							<td>{{ k }}</td>
							<td>{{ v }}</td>
						</tr>
					{% endfor %}
					<!--
					<tr>
						<td>Profile</td>
						<td>{{compliments.profile}}</td>
					</tr>
					<tr>
						<td>Funny</td>
						<td>{{compliments.funny}}</td>
					</tr>
					<tr>
						<td>Plain</td>
						<td>41</td>
					</tr>
					<tr>
						<td>Writer</td>
						<td>12</td>
					</tr>
					<tr>
						<td>List</td>
						<td>4</td>
					</tr>			
					<tr>
						<td>Note</td>
						<td>36</td>
					</tr>
					<tr>
						<td>Photos</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Hot</td>
						<td>25</td>
					</tr>
					<tr>
						<td>Cool</td>
						<td>22</td>
					</tr>
					<tr>
						<td>More</td>
						<td>1</td>
					</tr>
					-->													
				</table>
				Elite: {{elite}}            
				<br>
				<a href="{% url 'review' a %}"> {{ name }}'s Reviews</a>
				<br>
			</table>
        </div>
    </div>

     <!-- Bootstrap -->
     <script src="http://code.jquery.com/jquery.js"></script>
     <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>
