<!-- Users Page - layout for displaying the information on each user (should eventually link to 
reviews made by the user as well as the businesses the user has reviewd) -->
<!DOCTYPE html>
<html>
<head> 
<!-- Change title to display the following as well the id of the user. (Optional?) -->
<title> Operation Repo - User </title>
     <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen" >
</head>

<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    {{message}}
    {"yelping_since": "2010-05", "votes": {"funny": 0, "useful": 4, "cool": 0}, "review_count": 1, "name": "Christi", "user_id": "SS85hfTApRnbTPcJadra8A", "friends": [], "fans": 0, "average_stars": 5.0, "type": "user", "compliments": {}, "elite": []}

</body>
</html>

